<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo kmong-title" href="index.jsp">
      <i class="mdi mdi-baby-face text-warning"></i>
      <span >Kmong Admin</span>
    </a>
    <a class="sidebar-brand brand-logo-mini" href="../../index.jsp"><i class="mdi mdi-baby-face"></i></a>
  </div>

  <!-- 목록창 -->
  <ul class="nav">
    <li class="nav-item profile">

    <!-- 프로필시작 -->
      <div class="profile-desc">

        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="../../assets/images/faces/squidGame.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Admin</h5>
            <span>Administrator</span>
          </div>
        </div>

      </div>
    </li>


    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>

    <!-- 대시보드 -->
    <li class="nav-item menu-items">
      <a class="nav-link" href="../../index.jsp">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <!-- 게시판관리 -->
    <li class="nav-item menu-items active">
      <!-- <a class="nav-link" data-toggle="collapse" href="#ui-post" aria-expanded="false" aria-controls="ui-basic"> -->
      <a class="nav-link" data-toggle="collapse" data-target="#ui-post" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-calendar-text"></i>
        </span>
        <span class="menu-title">Posts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse show" id="ui-post">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/posts/posts.jsp">Post List</a></li>
        </ul>
      </div>
    </li>

    <!-- 회원관리 -->
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-contacts"></i>
        </span>
        <span class="menu-title">Users</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-user">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/users/users.jsp">Users</a></li>
          <li class="nav-item"> <a class="nav-link" href="../../pages/users/experts.jsp">Experts</a></li>
        </ul>
      </div>
    </li>

    <!-- 결제관리 -->
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-order" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-basket"></i>
        </span>
        <span class="menu-title">Orders</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-order">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/orders/orders.jsp">Order Status</a></li>
        </ul>
      </div>
    </li>

    <!-- 서비스관리 -->
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#ui-category" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-icon">
          <i class="mdi mdi-wrench"></i>
        </span>
        <span class="menu-title">Categories</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-category">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="../../pages/categories/categories.jsp">Category List</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>